.contenedorMensajes{
    box-shadow: inset 0px 0px 6px 5px rgba(0, 0, 0, 0.464);
    background-color: #e2e2b6;
    padding: 10px;
    height: 550px;
    display: flex;
    flex-direction: column;
    gap:20px;
    overflow: scroll;
    border: 1px solid black;
}