.canalTitulo{
    text-align: center;
    letter-spacing: 2px;
    color: #bf923f;
    font-size: 40px;
    font-weight: 500;
    text-shadow: 
    1px 1px 0 #000, 
    -1px -1px 0 #000,  
    1px -1px 0 #000, 
    -1px 1px 0 #000;
    overflow-x: scroll;
}

.filtrarTexto{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 60%;
    background-color: blue;
}

.lupitaMensajes{
    color: white;
    width: 30px;
    height: 30px;
}

.mensajes-mensajeForm{
    display: flex;
    flex-direction: column;
}

@media (min-width:700px){
    .contenedorWorkspace{
        display: flex;
        justify-content: end;
        height: 95%;
    }

    .mensajes-mensajeForm{
        width: 60%;
    }

}

@media (min-width:1300px){
    .mensajes-mensajeForm{
        width: 70%;
    }
}