.canalTitulo{
    text-align: center;
    letter-spacing: 2px;
    color: #bf923f;
    font-size: 40px;
    font-weight: 500;
    text-shadow: 
    1px 1px 0 #000, 
    -1px -1px 0 #000,  
    1px -1px 0 #000, 
    -1px 1px 0 #000;
}

@media (min-width:700px){
    .contenedorWorkspace{
        display: flex;
        height: 95%;
    }

    .mensajes-mensajeForm{
        width: 100%;
    }

    .canalTitulo{
        display: none;
    }
}
