.botonCrearCanal{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formCrearCanal{
    display: flex;
    align-items: center;
    gap:3px;
}

.formCrearCanal label{
    color: rgba(0, 0, 0, 0.637);
}

.formCrearCanal input{
    width: 75%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    background-color: #e2e2b6;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 22px;
}

.formCrearCanal button{
    padding: 3px;
    background-color: transparent;
    border: none;
}

.navCanales .especial {
    max-width: 95%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 10px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 22px;
    background-color: #e2e2b665;
    border-radius: 7px;
    border: 3px black dashed;
    cursor: pointer;
}

@media (min-width: 700px){
    .navCanales .especial {
        width: 100%;
        height: 70px;
        font-size: 25px;
    }

    .formCrearCanal input{
    width: 75%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    background-color: #e2e2b6;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 22px;
}
}