.contenedorFilterTexto{
    padding: 10px 20px;
    display: flex;
    width: 100%;
}

.contenedorFilterTexto .lupita-input{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    background-color: #247cc0;
    border-radius: 25px;
    gap: 5px;
}

.contenedorFilterTexto .inputFiltro{
    padding: 5px;
    height: 20px;
    width: 80%;
    font-size: 15px;
    background-color: #247cc0;
    border-radius: 5px;
    color: whitesmoke;
}

.contenedorFilterTexto .input{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.contenedorFilterTexto .lupitaTexto{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@media (min-width: 700px){

}