.mensajeForm{
    padding: 0 20px;
    display: flex;
    gap:10px;
}

.mensajeForm textarea{
    resize: none;
    background-color: wheat;
    border-radius: 3px;
    padding: 10px;
    font-size: 20px;
    width: 90%;
    height: 100px;
    border: 3px solid #bf923fdc;
}

.mensajeForm button{
    box-shadow: 0 0 1px 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 5px;
    background-color: green;
}

.mensajeForm button:active{
    background-color: rgb(2, 116, 2);
    box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.424);
    width: 5px 100px;
    padding: 6px 4px 4px 6px;
}

.mensajeForm .contenedorIcono{
    display: flex;
    align-items: end;
}

.mensajeForm .sendIcono{
    width: 25px;
    height: 25px;
}

@media (min-width: 700px){
    .mensajeForm textarea{
        height: 100%;
        font-size: 30px;
    }
    .mensajeForm{
        height: 18%;
        padding: 0 15px;
    }
    .mensajeForm .sendIcono{
        width: 40px;
        height: 40px;
    }
}