.mensajeContenedor{
    padding: 5px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: #6fb8ef;
    display: flex;
    flex-direction: column;
    gap:5px;
}

.mensajeContenedor .arriba{
    display: flex;
    gap:10px;
}

.mensajeContenedor img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid black;
}

.mensajeContenedor .texto{
    overflow-wrap: break-word;
}

.mensajeContenedor .nombre-hora{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}