.WorkspacePreview{
    width: 80vw;
    max-width: 1000px;
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF5E1;
    border-radius: 5px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.671);
}

.WorkspacePreview .izquierda{
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.WorkspacePreview .izquierda h2{
    margin-left: 10px;
}

.WorkspacePreview button{
    padding: 10px 25px;
}

.iconoEntrar{
    width: 30px;
    height: 30px;
}

@media (min-width: 600px){
    .iconoEntrar{
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 1000px){
    .WorkspacePreview .izquierda h2{
        font-size: 30px;
    }

    .WorkspacePreview button{
        width: 90px;
    }
    
    .iconoEntrar{
        width: 50px;
        height: 50px;
    }
}