.WorkspacePreview{
    width: 80vw;
    max-width: 1000px;
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF5E1;
    border-radius: 5px;
}

.WorkspacePreview .izquierda{
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.WorkspacePreview .izquierda h2{
    margin-left: 10px;
}

.WorkspacePreview button{
    padding: 10px 25px;
}
