.WorkspacePreview{
    width: 80vw;
    max-width: 1000px;
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF5E1;
    border-radius: 5px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.671);
}

.WorkspacePreview .izquierda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
}

.WorkspacePreview .izquierda h2{
    margin-left: 10px;
    font-size: 22px;
}

.WorkspacePreview .izquierda img{
    width: 50px
}

.WorkspacePreview .navLink{
    padding: 5px;
    background-color: #B43F3F;
    border-radius: 5px;
    color: white;
}

@media (min-width: 600px){
    .iconoEntrar{
        width: 40px;
        height: 40px;
    }

    .WorkspacePreview .navLink{
        padding: 15px 25px;
    }
}

@media (min-width: 1000px){
    .WorkspacePreview .izquierda h2{
        font-size: 30px;
    }

    .WorkspacePreview .izquierda img{
        width: 70px;
    }

    .WorkspacePreview .navLink{
        padding: 15px 50px;
    }

    .WorkspacePreview button{
        width: 90px;
    }
    
    .iconoEntrar{
        width: 50px;
        height: 50px;
    }
}