.workspaceImg{
    width:60px;
    
}

.workspace-arriba{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.workspace-arriba button{
    position: relative;
    z-index: 100;
}