.navCanales{
    width: 100vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:10px;
    position: absolute;
    top: 0%;
    background-color:GREY;
    border-bottom: 2px solid black;
    border-radius: 0 0 10px 10px;
}

.displayCanales{
    position: absolute;
    left: 82vw;
    top: 2%;
}